[tool.poetry]
name = "plotly-resampler"  # Do not forget to update the __init__.py __version__ variable
version = "0.8.0rc8"
description = "Visualizing large time series with plotly"
authors = ["Jonas Van Der Donckt", "Jeroen Van Der Donckt", "Emiel Deprost"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/predict-idlab/plotly-resampler"
documentation = "https://predict-idlab.github.io/plotly-resampler"
keywords = ["time-series", "visualization", "resampling", "plotly", "plotly-dash"]
packages = [
    { include = "plotly_resampler" }
]
include = [
    # C extensions must be included in the wheel distributions
    {path = "plotly_resampler/aggregation/algorithms/*.so", format = "wheel"},
    {path = "plotly_resampler/aggregation/algorithms/*.pyd", format = "wheel"}
]

[tool.poetry.build]
generate-setup-file = false
script = "build.py"


[tool.poetry.dependencies]
python = "^3.7.1,<3.11"
jupyter-dash = ">=0.4.2"
plotly = "^5.6.0"
dash = "^2.2.0"
orjson = {version = "^3.7.7", optional = true}
pandas = "^1.3.5"
trace-updater = ">=0.0.8"
numpy = ">=1.14"
Flask-Cors = "^3.0.10"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-cov = "^3.0.0"
black = "^22.6.0"
selenium = "4.2.0"
pytest-selenium = "^2.0.1"
webdriver-manager = "^3.5.2"
selenium-wire = "^4.5.6"
pyarrow = "^8.0.0"
Sphinx = "^4.4.0"
pydata-sphinx-theme = "^0.9.0"
sphinx-autodoc-typehints = "^1.17.0"
ipywidgets = "^7.7.1"
memory-profiler = "^0.60.0"
line-profiler = "^3.5.1"
kaleido = "0.2.1"

[build-system]
# https://github.com/scipy/oldest-supported-numpy
requires = ["oldest-supported-numpy", "poetry-core>=1.1.0a6"]
build-backend = "poetry.core.masonry.api"
