dash>=2.5.1
dash_bootstrap_components>=1.1.0
ipython>=8.4.0
jupyter_dash>=0.4.2
lttbc>=0.2.0
numpy>=1.21.6
pandas>=1.3.5
plotly>=5.7.0
protobuf>=4.21.2
pyfunctional>=1.4.3
pytest>=7.1.2
pytest_cov>=3.0.0
selenium>=4.3.0
streamlit>=1.8.1
trace_updater>=0.0.8
webdriver_manager>=3.7.1
ipywidgets>=6.0.0
plotly_resampler>=0.7.2.1
