dash==2.5.1
dash_bootstrap_components==1.1.0
ipython==8.4.0
ipywidgets==6.0.0
numpy==1.21.6
pandas==1.3.5
plotly==5.7.0
plotly_resampler==0.7.2.1
pyfunctional==1.4.3
streamlit==1.8.1
trace_updater==0.0.8
