name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        lfs: true
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: 3.10
    - name: Install Poetry
      uses: snok/install-poetry@v1
    - name: Cache poetry
      id: cached-poetry-dependencies
      uses: actions/cache@v2
      with:
        path: ~/.cache/pypoetry/virtualenvs
        key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}-python-${{ matrix.python-version }}
    - run: poetry --version
    - name: Install dependencies
      run: poetry install
      # Do not use caching (anymore)
#      if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
    - name: Lint
      run: make lint
